%footer#footer
  Copyright(c) 20XX Sample Inc. All Rights Reserved. Design by
  %a{:href => "http://f-tpl.com", :target => "_blank"} http://f-tpl.com
  / ←クレジット表記を外す場合はシリアルキーが必要です http://f-tpl.com/credit/
